{% extends "IDCIGenealogyBundle::adminbase.html.twig" %}

{% block nav %}
  {% include "IDCIGenealogyBundle::entityNav.html.twig" with {'entities' : {
    'Elements':      { 'basepath': 'element'},
    'Medias':        { 'basepath': 'media', 'active': true },
    'Races':         { 'basepath': 'race'},
    'Roles':         { 'basepath': 'role'}
  }} %}
{% endblock %}

{% block body %}

    {{ parent() }}

    <h1>{% trans %}Media edit{% endtrans %}</h1>

    {{ form(edit_form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('media') }}">
                {% trans %}Back to the list{% endtrans %}
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>

{% endblock %}
