{% extends "IDCIGenealogyBundle::adminbase.html.twig" %}

{% block nav %}
  {% include "IDCIGenealogyBundle::entityNav.html.twig" with {'entities' : {
    'Elements':      { 'basepath': 'element', 'active': true},
    'Images':        { 'basepath': 'image'},
    'Races':         { 'basepath': 'race'},
    'Roles':         { 'basepath': 'role'},
    'Videos':        { 'basepath': 'video'}
  }} %}
{% endblock %}

{% block body %}

    {{ parent() }}

    <h1>{% trans %}Element creation{% endtrans %}</h1>

    <p>{% trans %}The is Filed attribute is used to indicate if you want this horse filed or not{% endtrans %}</p>
    
    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('element') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
</ul>
{% endblock %}
